name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'
      
      # الخطوة السحرية 1: بناء ملفات النظام الناقصة
      - run: flutter create .
          
      - run: flutter pub get
      
      # الخطوة السحرية 2: أمر البناء الحديث (بدون الكلمات القديمة)
      - run: flutter build apk --release
      
      - uses: actions/upload-artifact@v4
        with:
          name: mahdara-app
          path: build/app/outputs/flutter-apk/app-release.apk
