name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'
      
      - run: flutter create --project-name myapp .
          
      - run: flutter pub get
      
      - run: flutter build apk --release
      
      - uses: actions/upload-artifact@v4
        with:
          # هذا هو الاسم الذي سيظهر لك في الموقع (يمكن تغييره)
          name: mahdara-app-v2
          # هذا هو مكان الملف الحقيقي (ممنوع تغييره أبداً)
          path: build/app/outputs/flutter-apk/app-release.apk
